body {
    background: linear-gradient(to right, #0c1a28, #17354d, #216a7a);
}
.card {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 15px 40px 50px rgba(29, 18, 18, 0.1);
    margin: 50px auto;
    max-width: 500px;
  }
  
  .card-header {
    height: 100px;
    background: linear-gradient(to right, #0072ff, #a2acb9, #ff4242);

    border-radius: 10px 10px 0 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  .card-header h1 {
    margin-right: 50px;
  }
  
  .card-header img {
    height: 50px;
    width: 175px;
    float: right;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .card-body img {
    max-width: 100%;
    height: 150px;
    width: 500px;
    border-radius: 10px;
  }
  
  .card-body p {
    color: #4f4f4f;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-bottom: 30px;
}
  
  .plan {
    border-top: 1px solid #0077ff;
    border-bottom: 1px solid #0077ff;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .plan h2 {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .plan .price {
    color: #ff4b5c;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .plan a {
    color: #0077ff;
    font-size: 0.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    display: block;
  }
  
  .button {
    border-radius: 15px;
    color: #ffffff;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 50%;
  }
  
  .primary {
    background-color: #0077ff;
  }
  
  .primary:hover {
    background-color: #083874;
  }
  
  .secondary {
    background-color: #ff4b5c;
  }
  
  .secondary:hover {
    background-color: #a30707;
  }
  